.container {
 width: 500px;
 margin: 30px auto;
}

.panel {
  display: flex;
}

input {
  margin-right: 10px;
}

ul {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

ul li {
  position: relative;
}

.remove {
  position: absolute;
  right: 20px;
}

.done {
  text-decoration: line-through;
}

.cancel-update-mode {
  position: relative;
  right: 35px;
  top: 2px;
  font-size: 20px;
}